// sizes
$navbar_height: 48px;

// general colors
$black: #000000;
$white: #ffffff;
$gray: #9e9e9e;
$grayLight: #eeeeee;
$grayDark: #424242;


// theme colors
$background: #ffffff;
$primary: #3949ab;
$primaryLight: #5c6bc0;
$primaryDark: #1a237e;
$secondary: #4caf50;
$secondaryLight: #81c784;
$secondaryDark: #2e7d32;
$surface: #ffffff;
$error: #b00020;

// element colors
$wsBorder: #9e9e9e;
$topbarBg: #212121;
