.main-layout {
  &__wrapper {
    @include wrapper-full();
  }

  &__row {
    @include row-flex();
  }

  &__navbar {
    display: block;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}
