.workspace {
  &__box {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    border: 1px solid $wsBorder;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  &__box-handle {
    position: absolute;
    background: $error;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    opacity: 0.5;
    z-index: 99;

    &_sw {
      bottom: 0;
      left: 0;
      cursor: sw-resize;
    }

    &_se {
      bottom: -5px;
      right: -5px;
      cursor: move;
    }

    &_nw {
      top: 0;
      left: 0;
      cursor: nw-resize;
    }

    &_ne {
      top: 0;
      right: 0;
      cursor: ne-resize;
    }

    &_w,
    &_e {
      top: 0;
      cursor: ew-resize;
      height: 100%;
    }

    &_w {
      left: -5px;
    }

    &_e {
      right: -5px;
    }

    &_n,
    &_s {
      left: 0;
      cursor: ns-resize;
      width: 100%;
    }

    &_n {
      top: -5px;
    }

    &_s {
      bottom: -5px;
    }
  }

  &__topbar {
    height: 26px;
    width: 100%;
    background: $topbarBg;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  &__topbar-actions {
    display: block;
  }

  &__topbar-actions-button {
    display: block;
  }

  &__topbar-actions-icon {
    color: $grayLight;
  }
}

.react-resizable {
  position: relative;
}
