@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/normalize';
@import 'styles/smart-grid';
@import 'styles/mixins';

body {
  position: relative;
  background-color: white;
  color: black;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

@import './components/MainLayout';
@import './components/Bible';
